*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
   
}

.container{
height: 100%;
width: 100%;
margin-top: -40px;

}

.image{
   
   background-image: url(img/page-banner.png);
   height: 50vh;
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;
  

    
}

form {
    width: 100vw;
}



.written{
  padding-top: 130px;
  font-size: 200%;
   margin-left: 40%;
   color: white;
    
}

.rightform{
    
   max-width: 60%;
   display: flex;
   gap: 20px;
flex: 1;


}

.left{
   max-width: 40%;
    flex: 1;
    margin-left: 40px;
    

    
   
}

.parentform{
    display: flex;
   gap: 10px;
   align-items: flex-start;
   
   padding-right: 15px;
   box-sizing: border-box;
   
   

}

input{
    height: 40px;
   width: 100%;
text-indent: 5px;
outline: none;
flex: 1;
border: none;
background-color: gray;

    
}
.input1{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
   width: 100%;
   
   
  
    
}

p{
    max-width: auto;
line-height: 1.6;
}

.new{
    color: #07404e;
}

textarea{
    height: 150px;
    width: 100%;
    text-indent: 5px;
    outline: none;
    border: none;
    background-color: gray;
   
}

button{
    height: 40px;
    width: 40%;
    margin-top: 10px;
   background-color: #2dcd7c;
   outline: none;
   cursor: pointer;
   color: white;
   border: none;
}


h5{
    color: #2dcd7c;
    line-height: 2;
   margin-bottom: 5px;
}

.empty{
    height: 30vh;
    width: 100%;
   
    
}

.contact{
    background-color: #2dcd7c;
    height: 40vh;
    width: 100%;
}

.first{
    display: flex;
  
   
}

.socials{
    display: flex;
    gap: 30px;
    padding-top: 100px;
    padding-left: 50px;
}

.second{
    display: flex;
}

.third{
    display: flex;
}

.socialss{
   gap: 13px;
   
   display: flex;
}


.gap{
   padding-left: 20px;
}

@media (max-width: 780px) {
    body{
        
    }
.written{
padding-top: 160px;
margin-left: 20px;
font-size: 150%;
justify-items: center;
}

.parentform{
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
    background-color: transparent;
}

.left{
    max-width: 100%;
    margin: 0;
}
.rightform{
    width: 100%;
    
    box-sizing: border-box;
   
    max-width: 100%;
   
}

.socials{
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-left: 20px;
   
   
}

.socialss{
    gap: 10px;
}

.container{
    
    width: 100%;
    background-color: transparent;
}

.input1{
    flex-direction: column;
   
   width: 100%;
   
    
}

input{
    width: 100%;
    flex: none;
    
}

textarea{
    width: 100%;
    padding-top: 10px;
   
}

button{
    width: 100%;
}

}

