body{
    background-color: transparent;
    max-height: 100vh;
}

.left{
   height: 100vh;
width: 50vw;
background-image: url(img/tryleaf.png);
background-repeat: no-repeat;
}

.formcontainer{

background-color: transparent;
width: 50vw;
height: 100vh;



}

.flex{
    display: flex;


}
.top{
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 20px;
    
}
p{
    margin-left: 10%;
    font-weight: bold;
    
}
.diff{
    margin-top: 40px;
}
a{
    color: orange;
}
.flexdiv{
    margin-left: 10%;
    
    display: flex; 

    gap: 30px;
    margin-bottom: 30px;
}

#flexdiv {
    margin-left: 60px;

}
.inputgrup{

}
input{
    width: 200px;
    height: 35px;
}
.change{
    font-weight: 100;
    margin: 0;
    margin-top: 30px;
    
}
*{
    margin: 0;
    padding: 0;
}
.checkbox{
    display: flex;
}
#checkbox {
    background-color: transparent;
    width: 100%;
    display: flex;
    gap: 5px;


}

.checkbox-txt {
    display: flex;
    align-items: center;
    background-color: ;
    height: 50px;
    width: 210px;
}

.checkbox-check {
    display: flex;
    align-items: center;
    background-color: ;
    height: 50px;
    width: 50px;
}